.drop-down-adults-container {
  width: 250px;
  display: flex;
  align-items: center;
}

.drop-down-adults-container h1 {
  font-size: 15px;
  margin: 10px;
  color: #4b2804;
  display: flex;
  padding: 10px;
  padding-right: 25px;
  flex-direction: column;
}

.drop-down-adults-container h2 {
  font-size: 15px;
  color: #4b2804;
  display: flex;
}

.drop-down-adults-container button {
  margin: 20px;
  background-color: #ffffff;
  color: black;
  border-radius: 100%;
  cursor: pointer;
  border: 1px solid black;
  display: flex;
  width: 5%;
  height: 5%;
  justify-content: center;
}
