.contentscontainer {
  width: 100%;
  height: 100%;
  background-color: #2d2928;
  align-items: center;
  /* box-shadow: 2px 2px 2px black; */
  /* justify-content: space-between; */
  padding-left: 5px;
}

.contentscontainer .leftSide {
  /* flex: 50%; */
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding-left: 50px;
  /* justify-content: row; */
}

.contentscontainer .leftSide .contents {
  flex: 10%;
  height: 100%;
  width: 10%;
  display: flex;
  align-items: center;
  padding-left: 5px;
  color: #ffffff;
  justify-content: row;
}

.contentscontainer .rightSide {
  flex: 1000%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.contentscontainer h1 {
  /* width: 50%; */
  /* display: flex; */
  padding-left: 50px;
  color: #d5aa7f;
  font-weight: blod;
  align-items: center;
  justify-content: center;
}

.contentscontainer a {
  padding-left: 55px;
  color: #d5aa7f;
  font-weight: 100;
  font-size: 13px;
  align-items: center;
  justify-content: center;
}

.contentscontainer h2 {
  /* width: 50%; */
  /* display: flex; */
  padding-left: 50px;
  font-size: 20px;
  color: #d5aa7f;
  font-weight: 100;
  align-items: center;
  justify-content: center;
}

.contentscontainer h3 {
  padding-left: 50px;
  font-size: 20px;
  color: #d5aa7f;
  font-weight: 100;
  /* align-items: center;
    justify-content: center; */
}
.contentscontainer .detailcontainer {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px;
  /* flex-direction: space-between; */
  flex-direction: row;
  display: flex;
}

.contentscontainer .detailcontainer .detailp {
  width: 100%;
  height: 100px;
  /* padding: 10px; */
  /* margin: 10px; */
  /* flex-direction: space-between; */
  flex-direction: column;
  display: flex;
}

.contentscontainer .detailcontainer .detailp p {
  width: 50%;
  padding-left: 0px;
  /* height: 100px; */
  /* padding: 10px; */
  margin: 5px;
  flex-direction: space-between;
  /* flex-direction: column; */
  display: flex;
}

.contentscontainer .detailcontainer2 {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin: 10px;
  /* flex-direction: space-between; */
  flex-direction: row;
  display: flex;
}

.contentscontainer .detailcontainer p {
  color: #ffffff;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentscontainer .detailcontainer2 p {
  color: #ffffff;
  width: 20%;
  align-items: center;
  justify-content: center;
}
.contentscontainer .detailcontainer .detailp p1 {
  color: #ffffff;
  width: 100%;
  padding-left: 50px;

  display: flex;
  justify-content: left;
}

.contentscontainer .detailcontainer .detailp img {
    /* width: 20%; */
    padding-left: 0px;
    margin: 4px;
  }
